

.navbar{
	height: 4em;
	width: 100%;
	margin: 0 auto;
	background-color: rgb(47, 20, 189);}


.btn{
border-color:silver;
border-radius: 10px;
border-style: outset;
border-width: medium;
margin: 0 .3em;
background-color: rgb(47, 20, 189);
width: auto;
font-size: .9em;
}

.snapshot{
padding-top: 4.2em;
width: 100%;}

ul{
padding-top: .75em;
}


#cf{
display: inline-block;
width: auto;
text-align: center;
font-family: inherit;
font-weight: bold;
color:white;
float:left;

}

footer{
text-align: center;
}
/*--------@media--719----------------*/
@media (min-width: 639px) {

	.btn{
	margin: 0 .5em;
	font-size: 2em;
	}

	.snapshot{
	padding-top: 5.7em;}

.navbar{
height: 5.6em;}

#cf{
display:inline-flex;
font-family: cursive;
float:none;}
}
/*--------@media--960----------------*/
@media (min-width: 1200px) {


	.snapshot{
	padding-top: 6.7em;}

.navbar{
height: 6.6em;}

.btn{
margin: 0 1em;
font-size: 2.5em;
}


}
