<!DOCTYPE html>
<html ng-app="ChildAdvocate">
  <head>
    <meta charset="utf-8">
    <title>Joe Gorsick | Child Advocate</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="normalize.css/normalize.css">
 <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
     <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.js"></script>
  <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.2.1.js"></script>
 <script src="bG.js"></script>
      <!--<link rel="stylesheet" href="css/stylesheet.css">-->
      <div id= bg ng-style="{{.collegeKids}}"></div>
<body>


  </head>
      <div class="container-fluid">

        <header class="navbar navbar-default navbar-fixed-top navbar-inner">
                <link rel="stylesheet" href="normalize.css/normalize.css">

                <ul class='container-fluid'>
                  <li id='cf'><button class='btn'>Educate</button></li>
                  <li id='cf'><button class='btn'>Demonstrate</button></li>
                  <li id='cf'><button class='btn'>Advocate</button></li>
                </ul>
        </header>
        </div>
      <!--  <div ng-controller="CarouselDemoCtrl">
          <div style="height: 305px">
            <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
              <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                <img ng-src="{{slide.image}}" style="margin:auto;">
                <div class="carousel-caption">
                  <h4>Slide {{slide.id}}</h4>
                  <p>{{slide.text}}</p>
                </div>
              </uib-slide>
            </uib-carousel>
          </div>
          <div class="row">
            <div class="col-md-6">
              <button type="button" class="btn btn-info" ng-click="addSlide()">Add Slide</button>
              <button type="button" class="btn btn-info" ng-click="randomize()">Randomize slides</button>
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="noWrapSlides">
                  Disable Slide Looping
                </label>
              </div>
            </div>
            <div class="col-md-6">
              Interval, in milliseconds: <input type="number" class="form-control" ng-model="myInterval">
              <br />Enter a negative number or 0 to stop the interval.
            </div>
          </div>
        </div>-->
    </body>
  <footer></footer>

</html>
